*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.img{
    height: 100px;
    width: 100px;
}


.nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 30px;
    cursor: pointer;
}

.para:hover{
    scale: 1.15;
    text-decoration: underline;
}

.anchor{
    margin-left: auto;
    text-decoration: underline;
    font-weight: 400;
}


.heroContainer{
    display: flex;
    justify-content: center;
    /* align-items: center; */
        /* min-height: calc(100vh - 80px); */
}

.heroContainerLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 200;
    /* gap: 30px; */
}

.heroTop{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    justify-content: flex-start;
}


.heroLeft, .heroRight{
    font-weight: 100;   
}


.heroLeftP, .heroRightP{
    color: grey;
}


.heroMiddleH1{
    font-size: 150px;
    font-weight: 300;
}


.heroMiddleH1{
    line-height: 1;
}